<form id="bisection-form" class="form">
    <input type="hidden" name="method" value="bisection">

    <div class="form-group">
        <label>Función</label>
        <input type="text" name="function" value="x+5">
    </div>

    <div class="form-group">
        <label>Xi</label>
        <input type="number" name="xi" step="any">
    </div>

    <div class="form-group">
        <label>Xd</label>
        <input type="number" name="xd" step="any">
    </div>

    <div class="form-group">
        <label>Iteraciones</label>
        <input type="number" name="iterations">
    </div>

    <div class="form-group">
        <label>Tolerancia</label>
        <input type="number" name="tolerance" step="any">
    </div>

    <button type="submit" class="btn-primary">Calcular</button>
</form>