.result-card,
.graph-card {
    background: #f8fafc;
    border-radius: 16px;
    padding: 20px;
    border: 2px solid #e2e8f0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.04);
}

/* HEADER */
.result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111827;
    color: white;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
    text-align: center;
}

.equation {
    font-size: 22px;
    font-weight: 600;
}

/* BODY */
.result-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0 5px;
}

/* FILAS */
.result-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px
}

    .result-row span {
        color: #64748b;
    }

    /* DESTACADO (RAÍZ) */
    .result-row.highlight strong {
        font-size: 18px;
        color: #111827;
    }

/* FOOTER */
.result-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
    color: #64748b;
}

/* GRAPH CARD */
.graph-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PLACEHOLDER */
.graph-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: white;
    border: 1px dashed #cbd5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64748b;
    overflow: hidden;
}

/* a ver que onda */
