<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Calculadora</title>
    <!-- Google Fonts: Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- BASE -->
    <link rel="stylesheet" href="~/css/base/fondo.css" />
    <link rel="stylesheet" href="~/css/base/reset.css" />
    <link rel="stylesheet" href="~/css/base/responsive.css" />
    <link rel="stylesheet" href="~/css/base/typography.css" />

    <!-- LAYOUT -->
    <link rel="stylesheet" href="~/css/layout/layout.css" />
    <link rel="stylesheet" href="~/css/layout/main-panel.css" />
    <link rel="stylesheet" href="~/css/layout/navbar.css" />
    <link rel="stylesheet" href="~/css/layout/sidebar.css" />
    
    <!-- COMPONENTS -->
    <link rel="stylesheet" href="~/css/components/buttons.css" />
    <link rel="stylesheet" href="~/css/components/cards.css" />
	<link rel="stylesheet" href="~/css/components/forms.css" />
	<link rel="stylesheet" href="~/css/components/martiz.css" />
	<link rel="stylesheet" href="~/css/components/switches.css" />
    <link rel="stylesheet" href="~/css/components/table.css" />
</head>
<body>
    <!-- NAVBAR -->
    <header class="navbar">
        <div class="navbar-title">
            Análisis Numérico 2026
        </div>

        <nav class="navbar-links">
            <a asp-controller="Methods"
               asp-action="Index"
               class="nav-link">
                Unidad 1 · Raíces
            </a>
            <a asp-controller="Systems"
               asp-action="Index"
               class="nav-link">
                Unidad 2 · Sistemas
            </a>
        </nav>
    </header>
    <!-- CONTENIDO -->
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>